@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@theme inline {
  /* Colors */
  --color-light: #fbfefa;
  --color-dark: #26333a;
  --color-primary: #22b123;
  --color-primary-var: #38b939;
  --color-secondary: #fece2e;
  --color-secondary-var: #ffea32;
  /* Fonts */
  --font-raleway: var(--font-raleway);
  --font-clash-grotesk: var(--font-clash-grotesk);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-raleway), var(--font-clash-grotesk), sans-serif;
}

.border-test {
  border: 1px red solid;
}

.border-test-red {
  border: 1px red solid;
}
.border-test-green {
  border: 1px green solid;
}
.border-test-blue {
  border: 1px blue solid;
}
.border-test-yellow {
  border: 1px yellow solid;
}
.border-test-purple {
  border: 1px purple solid;
}
.border-test-orange {
  border: 1px orange solid;
}
.border-test-pink {
  border: 1px pink solid;
}
.border-test-gray {
  border: 1px gray solid;
}
.border-test-black {
  border: 1px black solid;
}
.border-test-white {
  border: 1px white solid;
}

.dark {
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

/* @layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
} */
